# Environment variables
.env

# Node modules
node_modules/

# Data and config files with sensitive information
data/locations.json

# macOS system files
.DS_Store

# Backup files
*.bak

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage
*.lcov

# Dependencies
.pnp
.pnp.js

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Package manager locks
yarn.lock
package-lock.json

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?